### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Gradle specific
.gradle/
out/
!gradle/wrapper/gradle-wrapper.jar
.gradle/caches/
.gradle/gradle-app.setting
.gradle/gradle.property
gradle.properties

local.properties

# Kotlin specific
*.class
*.kt~
*.log
*.lock
*.swp

*.keystream
*.len
*.tab
*.at
.flat


# MacOS specific
.DS_Store
